<section class="mt-12 2xl:px-80">
  <h2 class="text-center text-3xl bold mb-6 text-red">
    News
  </h2>
  <ul class="max-w-[800px] space-y-16 mx-auto">
    <%= render @announcements %>
  </ul>
</section>
