<footer class="font-normal bg-white p-4 text-black flex flex-col justify-between items-center shadow-top z-10 mt-12 md:mt-24">
  <span class="text-2xl text-red">
    Ruby Europe
  </span>
  <a href="https://discord.gg/VQpDWPpBZe" class="underline hover:text-red mt-2" target="_blank" rel="norefferer noopener">
    Ruby Europe Discord
  </a>
  <a href="mailto:contact@rubyeurope.com" class="underline hover:text-red mt-2">
    contact@rubyeurope.com
  </a>
</footer>
