@font-face { font-family: 'Kanit-Bold'; src: url('Kanit-Bold.ttf') format("truetype"); }
@font-face { font-family: 'Kanit-Light'; src: url('Kanit-Light.ttf') format("truetype"); }
@font-face { font-family: 'Kanit-Regular'; src: url('Kanit-Regular.ttf') format("truetype"); }

*, html {
 font-family: 'Kanit-Light', sans-serif;
}

h1, h1 span {
 font-family: 'Kanit-Regular', sans-serif;
}

.bold {
  font-family: 'Kanit-Regular', sans-serif;
 }

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  background: theme('colors.white');
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px theme('colors.gray.light');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.light');
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.dark');
  cursor: pointer;
}

ul.open {
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translateY(100%);
  width: 100vw;
}
